:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 2rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.label {
  font-size: 1.5rem;
  fill: white;
}

#title {
  fill: white;
  font-size: 3rem;
}

.dot {
  stroke: black;
  opacity: 0.75;
}

.legend-label {
  fill: white;
}

.tooltip {
  position: absolute;
  padding: 10px;
  font-style: 12px sans-serif;
  background: rgb(56, 56, 56);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
